body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /*  background-color: blue;*/
   background: linear-gradient(rgb(255, 111, 67), purple, blue) ;
       margin: 0;
    min-height: 97.7vh;

}

#messages{
    margin-top:20px;
}

#NASLOV{
    text-align: center;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    animation: 5s ease-in-out barva infinite;
}

#LOGO img{
    width: 38%;
}

#LOGO h1{
    font-size: 100px;
    margin: 0;
}

#LOGO{
    display: flex;
    align-items: center;
    justify-content: center; /* oba na sredino */
    gap: 10px; /* razdalja med sliko in naslovom */
       transform: translateX(-80px);
}

@keyframes barva{
    1%{
        color: brown;
    }

    50%{
        color: aqua;
    }

    100%{
        color: brown;
    }

}